.editContainer {
  display: flex;
  justify-content: flex-end;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingContainer img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.headingContainer p {
  margin: 0;
}

.greenDot {
  /* use on empty div */
  width: 14px;
  height: 14px;
  background: #45f248;
  border-radius: 50%;
  margin: 20px 7px 7px;
}

.redDot {
  width: 14px;
  height: 14px;
  background: #f24545;
  border-radius: 50%;
  margin: 20px 7px 7px;
}

.fullName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fullName h1 {
  margin-bottom: 12px;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 6pc;
}

.contacts svg {
  opacity: 40%;
  margin: 0 8px;
}

.contacts a:hover {
  opacity: 70%;
}

.empty {
  display: none;
}

.editBtn {
  margin: 5px;
  opacity: 60%;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14;
  font-weight: 600;
  justify-content: center;
  line-height: 1.75;
  min-height: 28px;
  padding: calc(0.475rem - 1px) calc(0.8rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.editBtn:hover,
.editBtn:focus {
  opacity: 100%;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.editBtn:hover {
  opacity: 100%;
  transform: translateY(-1px);
}

.editBtn:active {
  opacity: 100%;
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* .editBtn {
  opacity: 60%;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043cc;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 28px;
  line-height: 27px;
  min-width: 56px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.editBtn:hover {
  opacity: 80%;
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.editBtn:focus {
  border-color: rgba(0, 0, 0, 0.35);
  outline: none;
} */
