.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 70px);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formDiv {
  padding: 3px;
}

.buttonDiv {
  padding-top: 14px;
}

.wrapper button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 28px;
  line-height: 27px;
  min-width: 56px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.wrapper button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.wrapper button:focus {
  border-color: rgba(0, 0, 0, 0.35);
  outline: none;
}

.errorMessage {
  color: red;
}
